# Sets the Express Server port
PORT=4000

# Sets the Vite Dev Server port
VITE_PORT=3000

# Sets CORS origin url in server (websockets)
# - PROD: Only necessary when served from another domain
#         Use empty string otherwise
# - DEV:  Use wildcard to match anything
CORS_ORIGIN_URL=*

# Connects Vite build to the Express Server for CORS
# - PROD: Only necessary when served from another domain
#         Use empty string otherwise
#         Must match the production URL when in use
# - DEV:  Must match the full development URL for Express, including port
VITE_CORS_ORIGIN_URL=http://localhost:4000

# Starts the app with pre-generated history
HISTORY=withPlayers
