button[disabled] {
  opacity: theme('opacity.75');
  cursor: not-allowed;
}

.btn-primary,
.btn-fail,
.btn-success {
  text-align: center;
  white-space: nowrap;

  border: none;
  border-radius: theme('borderRadius.sm');
  padding: theme('spacing.sm') theme('spacing.md');
  cursor: pointer;

  &:focus {
    outline-offset: theme('spacing.xs');
  }

  &:active {
    transform: translateY(0.1rem);
  }
}

.btn-primary {
  background-color: theme('colors.primary.500');
  color: theme('colors.primary.100');
  box-shadow: 0 0.2em 0 0.03em theme('colors.primary.700');

  &:not([disabled]) {
    &:hover {
      background-color: theme('colors.primary.400');
    }

    &:active {
      background-color: theme('colors.primary.600');
      box-shadow: inset 0 0.12em 0.05em theme('colors.primary.800');
    }
  }
}

.btn-fail {
  background-color: theme('colors.fail.600');
  color: theme('colors.fail.200');
  box-shadow: 0 0.2em 0 0.03em theme('colors.fail.800');

  &:not([disabled]) {
    &:hover {
      background-color: theme('colors.fail.500');
    }

    &:active {
      background-color: theme('colors.fail.700');
      box-shadow: inset 0 0.12em 0.05em theme('colors.fail.900');
    }
  }
}

.btn-success {
  background-color: theme('colors.success.600');
  color: theme('colors.success.200');
  box-shadow: 0 0.2em 0 0.03em theme('colors.success.800');

  &:not([disabled]) {
    &:hover {
      background-color: theme('colors.success.500');
    }

    &:active {
      background-color: theme('colors.success.700');
      box-shadow: inset 0 0.12em 0.05em theme('colors.success.900');
    }
  }
}
