:root {
  --space-size: 14px;
  --space-size-sm: 14px;
  --space-size-md: 18px;
  --space-size-lg: 20px;
  --space-size-xl: 22px;

  --space-xs: 0.25rem;
  --space-sm: 0.625rem;
  --space-md: 1rem;
  --space-lg: 1.325rem;
  --space-xl: 4.245rem;

  --font-heading: 24px;
  --font-subheading: 18px;
  --font-xs: 10px;
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;

  font-size: var(--space-size);
}

@screen md {
  :root {
    font-size: var(--space-size-md);

    --font-heading: 36px;
    --font-subheading: 28px;
    --font-xs: 14px;
    --font-sm: 16px;
    --font-md: 22px;
    --font-lg: 24px;
    --font-xl: 46px;
  }
}
